*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{  
    overflow: hidden;
    font-family: Outfit;
    background-color: rgb(7, 11, 10);
    color: cyan;    
}

.container-two{
    width: 33.3%;
    max-width: 100%;
    margin: auto;
}

.container-two:nth-child(1) h1{
    width: 33.3%;    
    max-width: 100%;
    margin: auto;    
    overflow: hidden;
}

.time{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18vh;
}

.time p{
    font-size: 60px;
    font-family: Outfit;
}

input{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid cyan;
    color: white;
    font-size: 40px;
    width: 100%;
    max-width: 100%;
}

input.g-search{
    margin-top: 30px;
    border: 2px solid grey;
    background-color: transparent;
    border-radius: 80px;
    color: white;
    font-size: 40px;
    width: 100%;
    padding: 5px;
    max-width: 100%;
}
button{
    background-color: cyan;
    padding: 15px 30px;
    border-radius: 0px;
    border: none;
    font-size: 16px;
    border-radius: 2px;
}

p#tasks{
    font-size: 20px;  
    transition: 1s ease-in;
  
}

.fade-out{
    transition: all 0.5s ease-in;
}

.task-main{
    color: white;
    width: 500px;
    max-width: 100%;
    background-color: rgb(0, 106, 198);
    padding: 5px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    transition: 1s ease-in;
}

i{
    transform: rotate(45deg);
    font-size: 20px;
}

#task-items{
    transition: 1s ease-in;
    height: 20vh;
    overflow-x: hidden;
    overflow-y: scroll;
}


::-webkit-scrollbar {
    width: 0px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.main-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.container-one{
    width: 33%;
    overflow: hidden;
    margin-left: auto;
}
.container-two{
    width: 33%;
    overflow: hidden;
    margin: auto;
    max-width: 100%;
}
.container-three{
    width: 30%;
    overflow: hidden;
    margin-right: auto;   
}


.container-one h1{
  padding: 20px;
  font-family: Outfit;
  text-align: left;
}

.important-things{
    margin-top: 50px;
}

.apps{
    margin-top: 50px;
}

.apps ul{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;    
    flex-wrap: wrap;
    gap: 20px;
}

li{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: left;
}

li p{
    text-align: center;
    font-size: 20px;
}

li img{
    width: 100px;
    height: 100px;
}

a{
    text-decoration: none;
    color: white;
    position: relative;
}

a::after{
    content: " ";
    display: block;
    width: 100%;
    background-color: white;
    height: 3px;
    border-radius: 10px;
    position: absolute;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: center center;
    transition: all 0.3s ease-in;
}

a:hover::after{    
    transform: scaleX(1);
}

.accordion-button{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: #13A3BA   ;
    border: none;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}

.accordion-item {
    color: black;
    background-color: var(--bs-accordion-bg);
     border: none;
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: cyan;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}